$black: #111;
$purple: #7e0284;
$blue: #13306a;
$cyan: #17bcc2;
$green: #00be02; 
$yellow: #fdf500;
$orange: #fb820f;
$red: #be0002;

$sans: "Roboto", sans-serif;
$serif: "Roboto Slab", serif;
$cursive: "Roboto Serif", serif;


:root {  
	--header-h: 80px;
	--header-bg: #fff;
	--footer-bg: #181818;
}

*, *::before, *::after { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

html { 
	font-family: $sans; 
	font-size: 16px; 
	background: #eee;
}

body { 
	overflow-x: hidden; 
	&.no-scroll {
		overflow-y: hidden;
	}
}

ul, ol, li { 
	list-style: none;
}

a { 
	text-decoration: none; 
	transition: 400ms; 
	cursor: pointer;
}

h1, h2 { 
	font-family: $cursive; 
	line-height: 0.9;
}

h3, h4, h5, h6 { 
	font-family: $serif; 
	line-height: 0.9;
}

h1 { 
	font-size: 64px; 
	margin-bottom: 16px; 
}
h2 { 
	font-size: 48px;  
	margin-bottom: 12px; 
}
h3 { 
	font-size: 32px; 
	margin-bottom: 10px; 
}
h4 { 
	font-size: 26px; 
	margin-bottom: 8px; 
}
h5 { 
	font-size: 24px; 
	margin-bottom: 8px; 
}
h6 { 
	font-size: 22px; 
	margin-bottom: 8px; 
}

p { 
	font-size: 18px; 
	line-height: 1.1; 
	text-align: justify;
}

img { 
	width: 100%;
}

input, textarea { 
	font-family: $sans; 
	outline: none; 
	border: none;
}

textarea { 
	resize: none;
}

section {
	width: 100%; 
	max-width: 1280px; 
	margin: 0 auto; 
	&.fullscreen {
		max-width: none; 
		margin: 0;

		.overlap-box { 
			max-width: 1280px;
		}
	}
}


/* 03) Utility classes ------------------------------------------------------ */

.separator { 
	height: var(--header-h); 
}

.parallax { 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

#scroll-top-btn { 
	position: fixed; 
	right: 16px; 
	bottom: 16px; 
	width: 48px; 
	height: 48px; 

	background: #fff; 
	color: $black;
	border: 3px solid $black;
	border-radius: 50%;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	//opacity: 0;
	//visibility: hidden;
	z-index: 1000;

	&:hover {
		background: $black;
		color: #fff;
	}

	i {
		margin: 0;
		font-size: 24px;
	}
}

button, 
a[role=button]:not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out), 
a.button { 
	display: inline-block; 
	width: max-content; 
	padding: 8px 16px; 

	font-size: 18px;
	font-weight: 500;
	font-family: $serif;

	background: $orange;
	border: 3px solid $orange;
	color: #fff;

	&:hover {
		background: #fff;
		color: $orange;
	}

	& > i {
		margin-left: 4px;
	}
}


.filter { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
}

.grid { 
	width: 100%; 
	display: flex; 
	flex-wrap: wrap;
}

.col-20 { width: 20%; }
.col-25 { width: 25%; }
.col-30 { width: 30%; }
.col-33 { width: 33.3333%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-66 { width: 66.6666%; }
.col-70 { width: 70%; }
.col-75 { width: 75%; }
.col-80 { width: 80%; }
.col-100 { width: 100%; }


/* Mobile */
@media screen and (max-width: 767.98px)
{
	button { padding: 6px 12px; }

	.col-20 { width: 100%; }
	.col-25 { width: 100%; }
	.col-30 { width: 100%; }
	.col-33 { width: 100%; }
	.col-40 { width: 100%; }
	.col-50 { width: 100%; }
	.col-60 { width: 100%; }
	.col-66 { width: 100%; }
	.col-70 { width: 100%; }
	.col-75 { width: 100%; }
	.col-80 { width: 100%; }
}


/* 04) Header --------------------------------------------------------------- */

header { 
	width: 100%; 
	position: fixed; 
	left: 0; 
	top: 0; 
	padding: 8px 16px; 

	background: var(--header-bg); 
	z-index: 10000; 
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo { 
	height: calc(var(--header-h) - 16px); 
	margin-right: 32px;

	img {
		width: auto;
		height: 100%;
		object-fit: contain;
	}
}

.navbar { 
	display: flex; 
	justify-content: center; 
	align-items: center; 

	li {
		padding: 12px;

		a {
			font-family: $serif;
			font-size: 20px;

			&:not(.button) {
				color: $black;
				&:hover {
					color: $orange;
				}
			}
		}
		button {
			padding: 6px 16px;
		}
	}
}

.hamburger { 
	width: 36px; 
	height: 16px; 
	position: relative; 

	display: none;
	justify-content: center; 
	flex-direction: column;

	cursor: pointer;

	span {
		display: block;
		width: 100%;
		height: 2px;

		background: $black;
		
		position: absolute;
		left: 0;
		transition: 600ms;

		&:first-child {
			top: 0;
		}
		&:last-child {
			top: calc(100% - 2px);
		}
	}

	&.clicked span {
		top: 50%;
		&:first-child {
			transform: translateY(-50%) rotate(45deg);
		}
		&:last-child {
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	header { 
		justify-content: space-between;
	}

	.logo { 
		margin-right: 0;
	}

	.navbar { 
		position: absolute; 
		right: -100%; 
		top: var(--header-h);
		width: 100%; 
		height: calc(100vh - var(--header-h));

		background: var(--header-bg);
		transition: 600ms;
		flex-direction: column;

		&.show {
			right: 0;
		}

		li {
			a { font-size: 32px; }
			button { 
				background: $orange; 
				color: #fff;
			}
		}
	}

	.hamburger { 
		display: flex; 
	}
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.navbar li a { 
		font-size: 24px;
	}
}


/* 05) Cover ---------------------------------------------------------------- */

.cover { 
	width: 100%; 
	height: 75vh; 
	max-height: 640px; 
	position: relative; 

	display: flex; 
	justify-content: center; 
	align-items: center;

	&.small {
		height: 55vh;
		max-height: 512px;
	}

	&.error {
		height: 100vh;
		max-height: none;
	}
}

.cover-image { 
	width: 100%; 
	height: 100%; 
	position: absolute;
}

.cover-content { 
	width: 100%; 
	max-width: 960px; 
	z-index: 10; 
	
	display: flex;
	justify-content: center; 
	align-items: center;
	flex-direction: column;
	
	color: #fff;
	text-align: center;

	h1 { 
		font-size: 72px; 
		margin-bottom: 32px;
	}

	h3 { font-size: 32px; }

	p { font-size: 24px; }

	button { 
		font-size: 20px; 
		margin-top: 32px;
	}
}



/* Tablet */
@media screen and (max-width: 1024px)
{
	.cover-content { 
		padding: 0 16px;

		h1 { font-size: 48px; }
		h3 { font-size: 28px; }
		p { font-size: 24px; }
		button { font-size: 22px; }
	}
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.cover-content {
		h1 { 
			font-size: 36px; 
			margin-bottom: 24px;
		}
		h3 { font-size: 22px; }
		p { font-size: 20px; }
		button { 
			font-size: 17px;
			margin-top: 24px;
		}
	}
}

/* 06) Overlap -------------------------------------------------------------- */

.overlap { 
	padding: 64px;
}

.overlap-box { 
	width: 100%; 
	max-width: 960px; 
	margin: 0 auto; 
	
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.overlap-image { 
	width: 100%; 
	height: 50vh;
	&.no-image { 
		height: 30vh;
	}
	img {
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 16px 48px 4px;
	}
}

.overlap-content { 
	width: 80%; 
	min-height: 35vh;
	margin-top: -25vh;
	padding: 48px; 

	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 16px 48px 4px;
	border-radius: 24px;

	display: flex;
	justify-content: center;
	flex-direction: column;

	&.no-image {
		margin-top: -30vh;
	}

	h2 { 
		width: 100%; 
		text-align: center;
	}

	p { font-size: 22px; }

	button { margin-top: 12px; }
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	.overlap { padding: 48px; }

	.overlap-content { padding: 48px; }

	.overlap-content h2 { font-size: 40px; }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.overlap { padding: 32px 0; }

	.overlap-image img { box-shadow: none; }

	.overlap-content { 
		width: calc(100% - 64px); 
		padding: 32px 24px;

		h2 { font-size: 28px; }

		p { 
			font-size: 18px; 
			margin-top: 8px; 
		}

		button { 
			font-size: 17px;
		}
	}
}

/* High Device */
@media screen and (max-width: 1024px) and (min-height: 512px)
{
	.overlap-image { height: 30vh; }

	.overlap-content { margin-top: -15vh; }

	.overlap-content.no-image { margin-top: -30vh; }
}

/* 07) Cards ---------------------------------------------------------------- */

.cards { 
	padding: 64px 32px;

	h2 { 
		width: 100%; 
		text-align: center;
	}
}

.card { 
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px 4px;
	margin: 1.65%; 
	border-radius: 24px; 
}

.card-image { 
	width: 100%; 
	position: relative; 
	display: block; 

	img, span {
		border-top-left-radius: 24px;
		border-top-right-radius: 24px;
	}
	img { 
		height: auto; 
		object-fit: contain;
	}
	span { 
		position: absolute; 
		left: 0; 
		top: 0;
		width: 100%;
		height: calc(100% - 4px);

		background: $orange;
		opacity: 0; 
		visibility: hidden; 
		transition: 400ms;
	}
	&:hover span {
		opacity: 0.5;
		visibility: visible;
	}
}

.card-content { 
	padding: 24px;

	button { 
		margin-top: 8px;
	}
}

.sports h2 { margin-top: 1.65%; }

.events .col-100 { text-align: center; }

/* Tablet */
@media screen and (max-width: 1024px)
{
	.cards { 
		padding: 48px 32px;

		.col-30 { 
			width: 100%; 
			margin: 16px 0;
		}
	}

	.card { display: flex; }

	.card-image { 
		width: 50%;
		img, span {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 24px;
			border-bottom-left-radius: 24px;
		}

		img { 
			height: 100%; 
			object-fit: cover;
		}

		span { height: 100%; }
	}

	.card-content { 
		width: 50%; 
		display: flex;
		flex-direction: column;
		justify-content: center; 
		align-items: flex-start;
		
		p {
			font-size: 24px;
		}
	}

	.sport-content button { font-size: 24px; }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.cards { padding: 32px; }

	.card { 
		display: block; 
		border-radius: 24px;
	}

	.card-image {
		width: 100%;

		img, span {
			border-top-left-radius: 24px;
			border-top-right-radius: 24px;
			border-bottom-left-radius: 0;
		}

		img {
			height: auto;
			object-fit: contain;
		}
		span {
			height: calc(100% - 4px);
		}
	}

	.card-content { 
		display: block;
		width: 100%;

		h3 { font-size: 28px; }

		p, button {
			font-size: 18px;
		}
	}
}


/* 08) Banner --------------------------------------------------------------- */

.banner { 
	min-height: 40vh; 
	
	display: flex; 
	justify-content: center;
	align-items: center;
	
	position: relative; 
}

.banner-image { 
	width: 100%; 
	height: 100%; 
	position: absolute;
	background-image: url("../images/banner.jpg");////////////////////////////////////////////////

	&.no-image {
		background-image: none;
		background-color: $orange;
	}
}


.banner-content { 
	width: 100%; 
	max-width: 960px; 
	z-index: 10; 
	
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	color: #fff;

	h4 {
		width: 100%;
		font-size: 40px;
		text-align: center;
		line-height: 1.1;
	}

	h6 {
		width: 100%;
		margin-top: 12px;
		font-size: 26px;
		font-style: italic;
		text-align: right;
		font-family: $cursive;
		font-weight: 300;
	}
}


/* Tablet */
@media screen and (max-width: 1024px)
{
	.banner-content { 
		padding: 0 16px; 

		h6 { font-size: 24px; }
	}
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.banner-content {
		h4 { font-size: 26px; }
		h6 { font-size: 20px; }
	}
}

/* 09) Logos ---------------------------------------------------------------- */

.logos { 
	padding: 64px 48px; 
	
	&.fullscreen {
		background: #fff;
	}

	h2 {
		margin-bottom: 24px;
	}
}

.logo-gallery {
	width: calc(33.333333% - 32px); 
	margin: 16px;
}

.logo-box { 
	display: block; 
	position: relative; 
	cursor: pointer;
	
	width: calc(33.333333% - 32px);
	margin: 16px; 

	span { 
		position: absolute; 
		text-align: center; 
		font-size: 22px; 

		display: flex; 
		justify-content: center;
		align-items: center;
	}

	.slogan {
		width: 100%; 
		height: calc(100% - 4px); 
		left: 0; 
		top: 0;

		background: $orange; 
		color: #fff;
		padding: 16px; 
		font-style: italic; 

		opacity: 0;
		visibility: hidden; 
		transition: 400ms; 
		
		&.big {
			font-size: 32px!important;
		}
	}

	.year {
		width: max-content; 
		right: 0;
		bottom: 4px;
		padding: 8px 12px 6px 16px; 
		
		background: $orange;
		color: #fff; 
		border-top-left-radius: 16px;
		transition: 600ms;
		font-weight: 500;
	}

	&:hover {
		.slogan {
			opacity: 1; 
			visibility: visible;
		}
		.year { 
			background: #fff; 
			color: $orange;
		}
	}

	.col-100 { text-align: center; }
}


/* Tablet */
@media screen and (max-width: 1024px)
{
	.logos { padding: 32px; }

	.logo-box { 
		width: 33.3333%; 
		span { font-size: 20px; }
	}

	.logo-gallery .logo-box { 
		width: calc(50% - 48px); 
		margin: 24px; 
	}
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.logos { padding: 24px; }

	.logo-box { 
		width: 100%;

		span { font-size: 18px; } 
	}

	.logo-gallery .logo-box { width: 100%; margin: 12px 0; }
}

/* 10) Form ----------------------------------------------------------------- */

form { width: 100%; display: flex; justify-content: center; }
form { align-items: flex-start; flex-direction: column; }

form label, form input, form textarea { width: 100%; }

form label { padding: 8px 16px; margin-top: 12px; font-size: 20px; }

form input, form textarea { background: #eee; padding: 8px 10px; }
form input, form textarea { font-size: 18px; }

form input { height: 48px; }

form .button { min-width: 30%; margin-top: 20px!important; cursor: pointer; }
form .button { transition: 400ms; }

.status-text { display: block; font-size: 18px; text-align: center; }
.status-text { margin: 16px 0 0 0; color: red; }

.status-text.hide { display: none; }

/* Tablet */
@media screen and (max-width: 1024px) {  }

/* Mobile */
@media screen and (max-width: 767.98px)
{
	form .button { min-width: 40%; }

	form label { font-size: 17px; }

	form input { height: 40px; }

	form input, form textarea { font-size: 15px; }
}


/* 11) Text Section --------------------------------------------------------- */

.text-content { width: 90%; }

.text-content p { font-size: 20px; text-align: left; display: block; }
.text-content p { margin-top: 16px; }

.text-content p strong { font-size: 24px; display: block; margin: 16px 0; }
.text-content p strong { padding-left: 24px; }

.text-content p strong.italic { font-style: italic; padding-left: 0; }

.text-content p a { color: #000; position: relative; font-weight: 500; }
.text-content p a { font-size: 20px; font-style: italic; margin-left: 8px; }

.text-content p a::after { content: ""; position: absolute; left: 0; }
.text-content p a::after { top: 100%; width: 0; height: 2px; }
.text-content p a::after { background: #000; transition: 0.4s; }

.text-content p a:hover::after { width: 100%; }

.credits-icon { 
	width: 36px; 
	height: 36px; 

	display: inline-flex; 
	justify-content: center;
	align-items: center;

	border: 3px solid var(--cl-black);
	border-radius: 50%;

	i {
		font-size: 18px;
	}
	&:hover {
		background: $black;
		color: #fff;
	}

	&::after {
		display: none;
	}
}

/* Tablet */
@media screen and (max-width: 1024px)
{
	.text-content p { font-size: 18px; }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.text-content p { margin-top: 4px; }

	.text-content p strong { font-size: 20px; margin: 12px 0; padding: 0; }
	.text-content p strong { text-align: center; }
}


/* 12) Popup ---------------------------------------------------------------- */

.popup-box { position: fixed; width: 100%; height: 100vh; left: 0; }
.popup-box { top: 0; background: rgba(0, 0, 0, 0.7); z-index: 100000; }
.popup-box { display: flex; justify-content: center; align-items: center; }
.popup-box { opacity: 0; visibility: hidden; transition: 300ms; }

.popup-box.show { opacity: 1; visibility: visible; }

.popup { position: relative; width: 40%; padding: 48px; border-radius: 24px; }
.popup { display: flex; justify-content: center; align-items: center; }
.popup { flex-direction: column; background: #fff; transform: scale(0.5); }
.popup { opacity: 0; visibility: hidden; transition: all 600ms ease-in-out; }

.popup-box.show .popup { transform: scale(1); opacity: 1; }
.popup-box.show .popup { visibility: visible; }

.popup .close { min-width: 48px; }

.popup .close-box { width: 100%; margin-bottom: 24px; display: flex; }
.popup .close-box { justify-content: flex-end; align-items: center; }

.close-box p { margin-right: 16px; font-style: italic; line-height: 1.1; }
.close-box p { width: 100%; text-align: left; font-weight: 700; }
.close-box p { font-size: 22px; }

.close-button { width: 48px; height: 48px; border: 3px solid var(--cl-black); }
.close-button { color: var(--cl-black); background: #fff; cursor: pointer; }
.close-button { font-size: 36px; border-radius: 50%; transition: 400ms; }
.close-button { display: flex; justify-content: center; align-items: center; }

.close-button:hover { background: var(--cl-black); color: #fff; }

.popup img { object-fit: cover; }

.popup-box .controls { width: calc(40% + 128px); position: absolute; }
.popup-box .controls { display: flex; justify-content: space-between; }
.popup-box .controls { align-items: center; z-index: -1; cursor: pointer; }

.popup-box .controls i { width: 56px; height: 56px; font-size: 48px; }
.popup-box .controls i { transition: 400ms; line-height: 1; display: flex; }
.popup-box .controls i { justify-content: center; align-items: center; }

.popup-box .controls .prev,
.popup-box .controls .next { color: #fff; z-index: var(--z-max); }

.popup-box .controls .prev:hover i,
.popup-box .controls .next:hover i { color: $orange; }

/* Tablet */
@media screen and (max-width: 1024px)
{
	.popup { width: 60%; padding: 32px; }

	.popup .close-box { margin-bottom: 20px; }

	.popup .close-box p { font-size: 20px; }

	.popup-box .controls { width: calc(60% + 128px); }

}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	.popup { width: 80%; padding: 16px; }

	.popup .close-box { margin-bottom: 16px; }

	.popup .close-box p { font-size: 16px; margin-right: 8px; }

	.popup .close { min-width: 32px; }

	.close-button { width: 32px; height: 32px; font-size: 24px; }

	.popup-box .controls { width: calc(80% + 72px); }

	.popup-box .controls i { width: 36px; height: 36px; font-size: 32px; }
}



/* 14) Footer --------------------------------------------------------------- */

footer { 
	padding: 64px; 
	background: #222; 
	color: #a5a5a5; 

	.grid { 
		max-width: 1280px; 
		margin: 0 auto; 
	}

	.column { 
		padding: 16px; 
	}

	h4 { 
		font-size: 32px; 
		color: #ccc; 
		margin-bottom: 40px; 
		position: relative;

		&::before, &::after {
			content: ""; 
			position: absolute; 
			height: 4px;
			top: calc(100% + 10px);
		}

		&::before {	
			width: 30%; 
			left: 0; 
			background: $orange;
		}
		&::after {
			width: 70%; 
			left: 30%; 
			background: #ccc;
		}
	}

	img {
		width: 80%; 
		object-fit: cover; 
		margin-top: 24px;
	}
}

#leaflet-map { 
	width: 100%; 
	height: 320px; 
	border-radius: 24px;
	
	.leaflet-control-attribution { padding-right: 16px!important; }
	.leaflet-control-attribution { padding-bottom: 1px!important; }
}

.social, .links, .legal { display: flex; }

.social a { width: 40px; height: 40px; margin: 0 8px; color: #222; }
.social a { background: #a5a5a5; border-radius: 50%; display: flex; }
.social a { justify-content: center; align-items: center; }

.social a i { font-size: 24px; }

.social a:hover { background: $orange; }

.social a:nth-child(1) { margin-left: 0; }

.links { flex-direction: column; }

.links a { color: #a5a5a5; margin-bottom: 8px; font-size: 20px; }

.links a i { width: 24px; text-align: center; margin-right: 4px; }

.links a:hover { color: $orange; padding-left: 8px; }

.legal { align-items: center; }

.legal a { margin: 16px 8px; }

.legal a:nth-child(1) { margin-left: 0; }

.legal a:hover { padding-left: 0; }

.bottom-bar { padding: 20px; background: var(--cl-black); }
.bottom-bar { color: #a5a5a5; }

.bottom-bar p { text-align: center; font-size: 18px; }

/* Tablet */
@media screen and (max-width: 1024px)
{
	footer { padding: 48px; }

	footer .col-30 { width: 50%; }

	footer .col-40 { width: 100%; }
}

/* Mobile */
@media screen and (max-width: 767.98px)
{
	footer { padding: 32px 16px; }

	footer .column { width: 100%!important; }

	footer img { width: 100%; }

	#leaflet-map { height: 256px; }
}

.instagram {
	width: 100%;

	.igwrapper {
		position: relative;
		margin-inline: auto;

		iframe {
			border: 0;
			position: relative;
			z-index: 2;
		}
			
		a {
			color: $black;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
		}
	}
}
