<footer id="contacts">
  <div class="grid">
    <div class="column col-30">
      <h4>Social</h4>
      <div class="social">
        <a
          target="_blank"
          href="https://www.facebook.com/AmichiamociLivorno/"
          title="Seguici su Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
          target="_blank"
          href="https://www.instagram.com/amichiamoci_/"
          title="Seguici su Instagram">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a
          target="_blank"
          href="https://vm.tiktok.com/ZNd1nW61X/"
          title="Seguici su TikTok">
          <i class="fa-brands fa-tiktok"></i>
        </a>
        <a
          target="_blank"
          href="https://whatsapp.com/channel/0029VaW79v73gvWVaKxmiQ2A"
          title="Iscriviti al nostro canale WhatsApp">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a
          target="_blank"
          href="https://www.youtube.com/channel/UC-Ue0hmZJq--HVkd2PokLaA/"
          title="Iscriviti al nostro canale YouTube">
          <i class="fa-brands fa-youtube"></i>
        </a>
      </div>
      <img src="{{ "/assets/images/logo.png" | relative_url }}" alt="Footer banner">
    </div>
    <div class="column col-30">
      <h4>Link utili</h4>
      <div class="links">
        <a href="mailto:info@amichiamoci.it">
          <i class="fa-solid fa-envelope"></i>
          info@amichiamoci.it
        </a>
        <a target="_blank" href="https://www.diocesilivorno.it/">
          <i class="fa-solid fa-location-dot"></i>
          Diocesi di Livorno
        </a>
        <div class="legal">
          <a href="{{ "/credits" | relative_url }}">Crediti</a>
          <a href="{{ "/privacy" | relative_url }}">Privacy</a>
        </div>
      </div>
    </div>
    <div class="column col-40">
      <div id="leaflet-map"></div>
    </div>
  </div>
</footer>