<footer id="contacts">
    <div class="grid">
        <div class="column col-30">
            <h4>Social</h4>
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/AmichiamociLivorno/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/amichiamoci_/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UC-Ue0hmZJq--HVkd2PokLaA/">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </div>
            <img src="{{ "/images/logo.png" | relative_url }}" alt="Footer banner">
        </div>
        <div class="column col-30">
            <h4>Link utili</h4>
            <div class="links">
                <a target="_blank" href="https://goo.gl/maps/6tVRarS1NX7SLEF4A">
                    <i class="fa-solid fa-location-dot"></i>
                    Livorno (LI), Italia
                </a>
                <a href="mailto:info@amichiamoci.it">
                    <i class="fa-solid fa-envelope"></i>
                    info@amichiamoci.it
                </a>
                <div class="legal">
                    <a href="">Crediti</a>
                    <a href="">Privacy</a>
                </div>
            </div>
        </div>
        <div class="column col-40">
            <div id="leaflet-map"></div>
        </div>
    </div>
</footer>