<section class="banner fullscreen">
  <div class="banner-image no-image parallax"></div>
  <div class="banner-content">
    <h1>Partecipa anche tu!</h1>
    <p style="text-align: center; font-size: larger; margin-top: 1em;">
      Sono aperte le ISCRIZIONI ad Amichiamoci.<br/>
      Iscriviti subito tramite la nostra App
    </p>
    <h3>
      <a
        href="{{ site.subscription_url }}"
        target="_blank"
        title="Vai all'App"
        style="color: inherit">
        <span style="user-select: none;">&rarr;</span>
        {{ site.subscription_url }}
        <span style="user-select: none;">&larr;</span>
      </a>
    </h3>
  </div>
</section>