{% if site.subscription_url %}
  <section class="banner fullscreen">
    <div class="banner-image no-image parallax"></div>
    <div class="banner-content">
      <h1 style="text-align: center;">Amichiamoci 2025 è iniziato!</h1>
      <p style="text-align: center; font-size: x-large; margin-block: 1em .5em;">
        Quest'anno, ben 484 persone partecipano ai tornei.<br/>
        Segui le partite, i risultati e le classifiche tramite la nostra App.
      </p>
      <h4>
        <a
          href="{{ site.subscription_url }}"
          target="_blank"
          title="Vai all'App"
          style="color: inherit; word-break: break-word;">
          <span class="hide-mobile">&rarr;</span>
          {{ site.subscription_url }}
          <span class="hide-mobile">&larr;</span>
        </a>
      </h4>
    </div>
  </section>
{% endif %}