<section id="sports" class="sports cards">
    <div class="grid">
        <div class="column col-100">
            <h2>Tornei</h2>
        </div>
        <div class="column col-100">
            <div class="grid">
                <div class="card column col-30">
                    <a class="card-image" href="">
                        <img src="{{ "/images/sport/football.jpg" | relative_url }}">
                        <span></span>
                    </a>
                    <div class="card-content">
                        <h3>Calcio</h3>
                        <p>
                            Calcio a 8 e calcio a 5.
                        </p>
                        <a class="button" href="">
                            Scopri di più
                        </a>
                    </div>
                </div>
                <div class="card column col-30">
                    <a class="card-image" href="">
                        <img src="{{ "/images/sport/basketball.jpg" | relative_url }}">
                        <span></span>
                    </a>
                    <div class="card-content">
                        <h3>Basket</h3>
                        <p>
                            Pallacanestro mista 3vs3.
                        </p>
                        <a class="button" href="">
                            Scopri di più
                        </a>
                    </div>
                </div>
                <div class="card column col-30">
                    <a class="card-image" href="">
                        <img src="{{ "/images/sport/volleyball.jpg" | relative_url }}">
                        <span></span>
                    </a>
                    <div class="card-content">
                        <h3>Pallavolo</h3>
                        <p>
                            Pallavolo mista 6vs6.
                        </p>
                        <a class="button" href="">
                            Scopri di più
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>